*{
    margin: 0%;
    padding: 0%;
}

h2{
    font-family: 'Open Sans', sans-serif;
    color: white;
}

.Header{

    display: flex;
    background: rgb(0, 0, 0, 0.7);
    height: 45px;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    justify-content: flex-end;

}

.interno{

    display: flex;
    padding: 0.5%;
    position: absolute;

}

i{
    color: rgb(223, 49, 49);
    padding: 5%;
}

i:hover{
    color: rgb(255, 255, 255);
    padding: 5%;

}

.Contenedor1{
    display: flex;  
    background: gray;
    height: 550px;
    padding: 3%;
    padding-top: 6%;
    justify-content: flex-end;
    justify-content: space-between;
    background-image: url(fondo.jpg);
    background-size: cover;
 
}

.Espacio1{

    display: flex;
    height: 90%;
    width: 100%;
    --background: green;
    flex-direction: column;
    justify-content: center;

}

.Titulo1{
    --background: red;
    padding: 1%;
    color: white;
}


.Titulo2{
    --background: yellowgreen;
    padding: 1%;
}

.TituloPrincipal{

    font-family: 'Allerta Stencil', sans-serif;
    font-size: 75px;

}

.TituloSegundario{

    font-family: 'Kalam', cursive;
    color: white;
    font-size: 25px;

}

.Separador2{

    width: 1%;
    height: 90%;

}

.Formulario{

    background:rgb(0, 0, 0, 0.5);
    width: 50%;
    height: 90%;

}

.contenidoF{

    display: flex;
    flex-direction: column;
    justify-content: left;
    margin: 5%;

}

.tituloF{

    margin-bottom: 5%;
    color: white;
    font-family: 'Open Sans', sans-serif;

}

.txtb_usuario{

    height: 30px;
    margin-bottom: 5%;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;

}

.txtb_correo{

    height: 30px;
    margin-bottom: 10%;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;

}

.btn_Registrar{

    background: rgb(223, 49, 49);
    color: white;
    background-color: rgb(223, 49, 49);
    height: 60px;
    font-family: 'Allerta Stencil', sans-serif;
    font-size: 35px;
    border: 2px solid rgb(223, 49, 49);

}

.btn_Registrar:hover{

    background-color: white;
    color: rgb(223, 49, 49);
    border: none;
    height: 60px;
    font-family: 'Allerta Stencil', sans-serif;
    font-size: 35px;

}

mark.PTY{
    color: rgb(223, 49, 49);
    background: none;
}



.Contenedor2{

    display: flex;
    background: black;
    height: 500px;
    padding: 4%;
    padding-bottom: 7%;
    background-image: url(asf.jpg);
    background-size: cover;
}

.Comentarios{

    display: flex;
    width: 30%;
    height: 97%;
    background: goldenrod;
    padding: 2%;
    flex-flow: row wrap;
    justify-content: space-around;

}

.Comentario1{

    height: 5%;
    background: coral;

}

.Comentario2{

    height: 5%;
    background: powderblue;

}

.Comentario3{

    height: 5%;
    background: red;
}

.Imagenes{

    display: flex;
    width: 62%;
    height: 92%;
    background:rgba(0, 0, 0, 0.5);
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 2%;
    padding-top: 4%;

}





.MensajeFinal{

    background: red;
    height: 60px;
 

}

.Footer{
    background: purple;
    height: 50px;
}

.I1{background-color: green;
    height: 200px;
    width: 350px;
    background-image: url(3.jpg);
    background-size: cover;
}

.I2{background-color: red;
    height: 200px;
    width: 350px;
    background-image: url(1.jpg);
    background-size: cover;
}

.I3{background-color: red;
    height: 200px;
    width: 350px;
    background-image: url(2.jpg);
    background-size: cover;
}

.I4{background-color: red;
    height: 200px;
    width: 350px;
    background-image: url(4.jpg);
    background-size: cover;
}

.separador{

    display: flex;
    width: 100%;
    height: 85px;
    background: rgb(0, 0, 0);
    justify-content: center;

}

.subtitulo2{

    color: rgb(223, 49, 49);

}