*{
    margin: 0%;
    padding: 0%;
}


.Header{

    display: flex;
    background: rgb(0, 0, 0, 0.7);
    height: 45px;
    width: 100%;
    justify-content: flex-end;
    justify-content: space-between;
    position: absolute;
    top: 0px;
    left: 0px;

}

.Contenedor1{
    display: flex;  
    background: gray;
    height: 550px;
    padding: 3%;
    padding-top: 6%;
    justify-content: flex-end;
    justify-content: space-between;
    background-image: url(fondo.jpg);
    background-size: cover;
 
}

.Espacio1{

    display: flex;
    height: 90%;
    width: 100%;
    --background: green;
    flex-direction: column;
    justify-content: center;

}

.Titulo1{
    --background: red;
    padding: 1%;
    color: white;
}

.Separador1{

    height: 1%;
    background: magenta;

}

.Titulo2{
    --background: yellowgreen;
    padding: 1%;
}

.Separador2{

    background: magenta;
    width: 1%;
    height: 90%;

}

.Formulario{

    background:rgb(0, 0, 0, 0.5);
    width: 50%;
    height: 90%;

}

.contenidoF{

    display: flex;
    flex-direction: column;
    justify-content: left;
    margin: 5%;

}

.tituloF{

    margin-bottom: 5%;
    color: white;
}

.txtb_usuario{

    height: 30px;
    margin-bottom: 5%;
    font-size: 20px;

}

.txtb_correo{

    height: 30px;
    margin-bottom: 10%;
    font-size: 20px;

}

.btn_Registrar{

    height: 60px;

}



.Contenedor2{

    display: flex;
    background: pink;
    height: 500px;
    padding: 3%;

}

.Comentarios{

    width: 40%;
    height: 100%;
    background: goldenrod;

}

.Comentario1{

    height: 5%;
    background: coral;

}

.Comentario2{

    height: 5%;
    background: powderblue;

}

.Comentario3{

    height: 5%;
    background: red;
}

.Imagenes{

    width: 60%;
    height: 100%;
    background: lawngreen;

}

.MensajeFinal{

    background: red;
    height: 60px;
 

}

.Footer{
    background: purple;
    height: 50px;
}

